{# revised from militaryConflict.html.twig, Sep 2023 #}
<div class="row">

{# remove belligerents here ? #}
    <div class="col-md-{% if article.displaySidebar == 0 %}12{% elseif article.belligerents|length == 2 %}7{% elseif article.belligerents|length == 2 %}{% else %}8{% endif %} article-content-left">

        <div class="user-css-vignette">{{ article.content|BBcode }}</div>

<div>
<h2>Templates</h2>

<h3>RelationList</h3>
{{ source('PresentationBundle:Helpers:relationlist.html.twig')|e }}

<h3>Relation</h3>
{{ source('PresentationBundle:Helpers:relation.html.twig')|e }}

<h3>Value</h3>
{{ source('PresentationBundle:Helpers:value.html.twig')|e }}

<h3>Section</h3>
{{ source('PresentationBundle:Helpers:section.html.twig')|e }}

<h3>Tests</h3>
<h4>Members Of</h4>
{% for name in usermetadata.memberOf %}
{{ name }} = 
{% set member = world.articles|map((v, k) => "#{k} #{v}")|filter(v => name in v)|join(',')|split(' ', 2) %}
 {% set id = member[0] %}
 {% set link = "@["~name~"]("~world.articles[id].slug|split('-')|last~":"~world.articles[id].id~")" %}
{{ link|BBcode }}<br>
{% endfor %}

<h4>Member</h4>
{% for name in usermetadata.memberOf %}
{% set member = world.articles|map((v, k) => "#{k} #{v}")|filter(v => name in v)|join(',')|split(' ', 2) %}
{% for item in member %}
{{ item }}<br>
{% endfor %}
{% endfor %}

<h4>Master</h4>
{% set master = usermetadata.master %}
{{ master }}<br>
{% set id = "" %}
{% for key, value in world.articles %}
  {% if master == value %}
     {% set id = key %}
     {{ id }}<br>
  {% endif %}
{% endfor %}
ID = {{ id }}<br>
Name = {{ world.articles[id] }}<br>
Slug = {{ world.articles[id].slug }}<br>
Data = {{ world.articles[id].usermetadata }}<br><br>
{% set temp = world.articles[id].usermetadata|json_encode() %}
Json = {{ temp }}<br><br>

{% set temp1 = world.articles[id].usermetadata|split(',') %}
length = {{ temp1|length }}<br>
{% set map = "" %}
{% for item in temp1 %}
{{ item }}<br>
{% set mapItem = item|split(":") %}
{% for key, value in mapItem %}
key = {{ key }}, value = {{ value }}<br>
{% endfor %}
{% endfor %}

<h4>Another Test</h4>
{% set masterSlug = master|lower~"-organization" %}
{% set masterList = "" %}
{% for item in world.articles %}
{{ item }}<br>
{% if item.slug == masterSlug %}
item and slug = {{ item }} {{ item.slug }}<br>
masterSlug = {{ masterSlug }}<br>
{% set masterList = item %}
{% endif %}
{% endfor %}<br>
masterList = {{ masterList }}<br>
slug = {{ masterList.slug }}<br>
id = {{ masterList.id }}<br><br><br>

Data = {{ masterList.usermetadata }}<br>
{% set mapList = masterList.usermetadata|split(',') %}
{% for item in mapList %}
item = {{ item }}<br>
{% set name = item|split(':')|first|split('"')|join()|trim %}
name = "{{ name|trim }}"<br>
{% set uuid = item|split(':')|last|split('"')|join() %}
{{ "@["~name~"](a:"~uuid~")" }}<br>
{% set temp5 = "@["~name~"](a:"~uuid~")" %}
link = {{ temp5|BBcode }}<br>
{% endfor %}

<b>Members Of</b><br>
{% for name in usermetadata.memberOf %}
{% for item in mapList %}
{% set itemName = item|split(':')|first|split('"')|join()|trim %}
{% if name == itemName %}
{% set uuid = item|split(':')|last|split('"')|join() %}
{% set link = "@["~name~"](a:"~uuid~")" %}
{{ link|BBcode }}<br>
{% endif %}
{% endfor %}
{% endfor %}


<h3>Article List</h3>
{{ world.articles|map((value, key) => "#{key} #{value}")|join(', ') }}<br>
<ol>
  {% for key, value in world.articles %}
      <li>{{ key }} / {{ value }} // {{ world.articles[key].id }}</li>
  {% endfor %}
</ol>

<h3>Warp Paths</h3>
<h4>Old</h4>
                        {% if usermetadata.warpPaths|length > 0 %}
                            <div class="jek-key-facts-label">Warp Paths</div>
                            <ul class="jek-key-facts-list">
                                {% for wp in usermetadata.warpPaths %}
                                    {% set wpData = wp|split(':') %}
                                    {% set name = wpData[0] %}
                                    {% set wpFactor = wpData[1] %}
                                    {% set mapping = world.articles|map((v, k) => "#{k} #{v}")|filter(v => name in v)|join(',')|split(' ', 2) %}
                                    {% set id = mapping[0] %}
                                    {% set link = "@["~name~"]("~world.articles[id].slug|split('-')|last~":"~world.articles[id].id~")" %}
                                    <li>{{ link|BBcode }}: {{ wpFactor }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

<h4>New</h4>
                        {% if usermetadata.warpPaths|length > 0 %}
                            <div class="jek-key-facts-label">Warp Paths</div>
                            <ul class="jek-key-facts-list">
                                {% for wp in usermetadata.warpPaths %}
                                    {% set wpData = wp|split(':') %}
                                    {% set name = wpData[0] %}
                                    {% set wpFactor = wpData[1] %}
                                    {% set notFound = true %}
                                    {% for key, value in world.articles %}
                                        {% if name == value %}
                                            {% set link = "@["~name~"]("~world.articles[key].slug|split('-')|last~":"~world.articles[key].id~")" %}
                                            <li>{{ link|BBcode }}: {{ wpFactor }}</li>
                                            {% set notFound = false %}
                                         {% endif %}
                                    {% endfor %}
                                    {% if notFound == true %}
                                        <li><b>{{ name }}</b>: {{ wpFactor }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

</div>

        <div class="">

            {% if article.prelude|length > 0
                or article.deployment|length > 0
                or article.battlefield|length > 0
                or article.conditions|length > 0
                or article.outcome|length > 0
                or article.aftermath|length > 0 %}

                {% if article.type == "Sports Event" %}

                    <h2>The Match</h2>

                    {# Prelude #}
                    {% if article.prelude|length > 0 %}
                        <h3>{{ 'military_conf.prelude'|trans({},'presentation') }}</h3>
                        {{ article.prelude|BBcode }}
                    {% endif %}

                    {# Publicity #}
                    {% if article.conditions|length > 0 %}
                        <h3>Publicity</h3>
                        {{ article.conditions|BBcode }}
                    {% endif %}

                    {# Lineup #}
                    {% if article.deployment|length > 0 %}
                        <h3>Lineup</h3>
                        {{ article.deployment|BBcode }}
                    {% endif %}

                    {# Playing Field #}
                    {% if article.battlefield|length > 0 %}
                        <h3>Playing Field</h3>
                        {{ article.battlefield|BBcode }}
                    {% endif %}

                    {# The Encounter #}
                    {% if article.engagement|length > 0 %}
                        <h3>The Encounter</h3>
                        {{ article.engagement|BBcode }}
                    {% endif %}

                    {# Outcome #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.outcome,
                        'title':'military_conf.outcome',
                        'locale': locale
                    } only %}

                    {# Aftermath #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.aftermath,
                        'title':'military_conf.aftermath',
                        'locale': locale
                    } only %}

                {% else %} {# regular military conflict #}

                    <h2>{{ 'military_conf.the_conflict'|trans({},'presentation') }}</h2>

                    {# Prelude #}
                    {% if article.prelude|length > 0 %}
                        <h3>{{ 'military_conf.prelude'|trans({},'presentation') }}</h3>
                        {{ article.prelude|BBcode }}
                    {% endif %}

                    {# Deployment #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.deployment,
                        'title':'military_conf.deployment',
                        'locale': locale
                    } only %}

                    {# Battlefield #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.battlefield,
                        'title':'military_conf.battlefield',
                        'locale': locale
                    } only %}

                    {# Conditions #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.conditions,
                        'title':'military_conf.conditions',
                        'locale': locale
                    } only %}

                    {# Engagement #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.engagement,
                        'title':'military_conf.the_engagement',
                        'locale': locale
                    } only %}

                    {# Outcome #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.outcome,
                        'title':'military_conf.outcome',
                        'locale': locale
                    } only %}

                    {# Aftermath #}
                    {% include 'PresentationBundle:Helpers:section.html.twig' with {
                        'value': article.aftermath,
                        'title':'military_conf.aftermath',
                        'locale': locale
                    } only %}

                {% endif %}

            {% endif %}

            {% if article.history|length > 0
                or article.legacy|length > 0
                or article.literature|length > 0
                or article.technology|length > 0 %}

                <h2>{{ 'military_conf.historical_significance'|trans({},'presentation') }}</h2>

                {{ article.history|BBcode }}

                {# Legacy #}
                {% include 'PresentationBundle:Helpers:section.html.twig' with {
                    'value': article.legacy,
                    'title':'military_conf.legacy',
                    'locale': locale
                } only %}

                {# In Literature #}
                {% include 'PresentationBundle:Helpers:section.html.twig' with {
                    'value': article.literature,
                    'title':'military_conf.in_literature',
                    'locale': locale
                } only %}

                {# Technological Advancement #}
                {% include 'PresentationBundle:Helpers:section.html.twig' with {
                    'value': article.technology,
                    'title':'military_conf.techological_advancement',
                    'locale': locale
                } only %}
            {% endif %}

            {% if article.footnotes %}
                <div class="user-css article-footnotes">{{ article.footnotes|BBcode }}</div>
            {% endif %}

        </div>
    </div>

    {% if article.displaySidebar == 1 %}

        <div class="col-md-{% if article.belligerents|length == 2 %}5{% else %}4{% endif %} article-content-right">
            {% if article.world.globalAnnouncement|length > 0 %}
                <div class="world-global-annnouncement">
                    {{ article.world.globalAnnouncement|BBcode }}
                </div>
            {% endif %}

            {% if article.sidebarcontent|length > 0 %}
                <div class="m-b-20">{{ article.sidebarcontent|BBcode }}</div>
            {% endif %}

            {# BEGIN JEK=SIDEPANEL #}
            <div class="panel panel-default card mb-3 jek-sidepanel">

                {# BEGIN JEK-KEY-FACTS-SIDEPANEL #}
                <div class="panel-body card-body jek-key-facts-sidepanel">

                    {# BEGIN JEK-KEY-FACTS-CONTENT #}
                    <div class="jek-key-facts-content">
                        <h3 class="jek-key-facts-heading">Key Facts</h3>

                            {{ article.sidepanelcontenttop|BBcode }}

                            {# Conflict Type #}
                            {% if article.type|length > 0 %}
                                <div class="jek-key-facts-info">
                                    <span class="jek-key-facts-label">Conflict Type:</span>
                                    {{ article.type }}
                                </div>
                            {% endif %}

                            {# Field Type & Location #}
                            {% if article.battlefieldtype|length > 0
                                or article.location|length > 0 %}
                                <div class="jek-key-facts-info">
                                    {% if article.battlefieldtype|length > 0 %}
                                        <span class="jek-key-facts-label">
                                        {% if article.type == "Sports Event" %}
                                            Playing Field Type:
                                        {% else %}
                                            Battlefield Type:
                                        {% endif %}
                                        </span>
                                        {{article.battlefieldtype }}<br>
                                    {% endif %}
                                    {% if article.location|length > 0 %}
                                        <span class="jek-key-facts-label">Location:</span>
                                        {{ article.location }}
                                    {% endif %}
                                </div>
                            {% endif %}

                            {# Dates #}
                            {% if article.startingDate|length > 0
                                or article.endingDate|length > 0 %}
                                <div class="jek-key-facts-info">
                                    {% if article.startingDate == article.endingDate %}
                                        <span class="jek-key-facts-label">Date:</span>
                                        {{ article.startingDate }}
                                    {% else %}
                                        {% if article.startingDate|length > 0 %}
                                            <span class="jek-key-facts-label">Starting Date:</span>
                                            {{ article.startingDate }}<br>
                                        {% endif %}
                                        {% if article.endingDate|length > 0 %}
                                            <span class="jek-key-facts-label">Ending Date:</span>
                                            {{ article.endingDate }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            {# Conflict Result #}
                            {% if article.result|length > 0 %}
                                <div class="jek-key-facts-info">
                                    <div class="jek-key-facts-label">Conflict Result</div>
                                    {{ article.result }}
                                </div>
                            {% endif %}

{{ usermetadata.index }}<br>
{{ article.id }}<br>
{# Member Of #}
{% if usermetadata.memberOf|length > 0 %}
<div class="jek-key-facts-label">Member Of</div>
{% for name in usermetadata.memberOf %}
{% set member = world.articles|map((v, k) => "#{k} #{v}")|filter(v => name == "#{ v }")|join(',')|split(' ', 2) %}
                                    {% set id = member[0] %}
{{ member|length }}<br>{{ member[1] }}<br>
{% if name == member[1] %}TRUE<br>{% endif %}
                                    {% set link = "@["~name~"]("~world.articles[id].slug|split('-')|last~":"~world.articles[id].id~")" %}
                                    {{ link|BBcode }}<br>
{% for k in world.articles|map((v, k) => "#{k} #{v}")|filter(v => name == "#{v}")|join(',')|split(' ', 2)  %}
<a class="" href="{{ path('presentation_article', {'worldslug': world.articles[k].world.slug,'articleslug': world.articles[k].slug})}}">{{ world.articles[k].title }}</a><br>
{% endfor %}
{% endfor %}
{% endif %}
TEST: {{  article.id }}<br>
CONTEXT:
<ol>
  {% for key, value in _context  %}
    <li>{{ key }}</li>
  {% endfor %}
</ol>
WORLD: {{ world|length }} / {{ world }}<br>
{{ world.articles|map((value, key) => "#{key} #{value}")|join(', ') }}<br>
<ol>
  {% for key, value in world.articles %}
      <li>{{ key }} / {{ value }} // {{ world.articles[key].id }}</li>
  {% endfor %}
</ol>
{% set list = world.articles|map((value, key) => "#{key}, #{value}") %}
Count = {{ list|length }}<br>
{% for item in list %}
{{ item|length }} / {{ item }}<br>
{% endfor %}
{% for item in world.articles|filter((v, k) => v == "Vecu") %}
{{ item }} / {{ k }}<br>
{%endfor %}
NEW:<br>
{% set list1 = world.articles|map((value, key) => "#{key}: #{value}") %}
{% for item in list1 %}
{{ item }}<br>
{%endfor %}

                            {# Included Under Conflict #}
                            {% if article.parent|length > 0 %}
                                <div class="jek-key-facts-info">
                                    <span class="jek-key-facts-label">Included Under Conflict:</span>
                                    <a class="" href="{{ path('presentation_article', {'worldslug': article.parent.world.slug,'articleslug': article.parent.slug})}}">{{ article.parent.title }}</a>
                                </div>
                            {% endif %}

                            {# Included Conflicts #}
                            {% if article.children|length > 0 %}
                                <div class="jek-key-facts-label">Included Conflicts</div>
                                <ul class="jek-key-facts-list">
                                    {% for child in article.children %}
                                        <li><a class="" href="{{ path('presentation_article', {'worldslug': child.world.slug,'articleslug': child.slug})}}">{{ child.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                           {{ article.sidepanelcontent|BBcode }}

                       </div> {# END JEK-KEY-FACTS-CONTENT #}

                   </div> {# END JEK-KEY-FACTS-SIDEPANEL #}

               </div> {# END JEK=SIDEPANEL #}


               {% if article.belligerents|length < 3 and article.belligerents|length > 0 %}

                   <div class="panel panel-default belligerent">

                       <div class="panel-body card-body">

                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <h4>{{ 'military_conf.belligerents'|trans({},'presentation') }}</h4>
                               </div>
                           </div>

                           <div class="row">
                               {% for b in article.belligerents %}
                                   <div class="col-md-6 text-center">
                                       <h5>{{ b.name }}</h5>
                                       {% if b.organizations|length > 0 %}
                                           <ul class="list-un&nbsp;d">
                                               {% for org in b.organizations %}
                                                   <li><a class="" href="{{ path('presentation_article', {'worldslug': org.world.slug,'articleslug': org.slug})}}">{{ org.title }}</a></li>
                                               {% endfor %}
                                           </ul>
                                       {% endif %}
                                       {% if b.leaders|length > 0 %}
                                           <h4>{{ 'military_conf.led_by'|trans({},'presentation') }}</h4>
                                           <ul class="list-un&nbsp;d">
                                               {% for org in b.leaders %}
                                                   <li><a class="" href="{{ path('presentation_article', {'worldslug': org.world.slug,'articleslug': org.slug})}}">{{ org.title }}</a></li>
                                               {% endfor %}
                                           </ul>
                                       {% endif %}
                                   </div>
                               {% endfor %}
                           </div>

                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <h4>{{ 'military_conf.strength'|trans({},'presentation') }}</h4>
                               </div>
                           </div>

                           <div class="row">
                               {% for b in article.belligerents %}
                                   <div class="col-md-6">
                                          {{ b.strength|BBcode }}
                                   </div>
                               {% endfor %}
                           </div>

                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <h4>{{ 'military_conf.casualties'|trans({},'presentation') }}</h4>
                               </div>
                           </div>

                           <div class="row">
                               {% for b in article.belligerents %}
                                   <div class="col-md-6">
                                       {{ b.casualties|BBcode }}
                                   </div>
                               {% endfor %}
                           </div>

                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <h4>{{ 'military_conf.objectives'|trans({},'presentation') }}</h4>
                               </div>
                           </div>

                           <div class="row">
                               {% for b in article.belligerents %}
                                   <div class="col-md-6">
                                       {{ b.objectives|BBcode }}
                                   </div>
                               {% endfor %}
                           </div>

                       </div> {# END CARD-BODY #}

                   </div> {# END PANEL BELLIGERENT = 2 #}

               {% endif %}

               {% include 'PresentationBundle:Default:partials/map/list.html.twig' with {
                   'maps': article.maps,
                   'page':'other'
               }  %}

               {{ article.sidebarcontentbottom|BBcode }}

               <div class="world-global-article-additional">
                   {{ article.world.globalSidebarFooter|BBcode }}
               </div>

           </div> {# END BELLIGERENTS = 2 #}

     {% endif %} {# END DISPLAY SIDEBAR #}

</div> {# END MAIN ROW #}

{# If more than 3 belligerents #}
{% if article.belligerents|length > 2 %}

    <div class="row">
        <div class="col-md-12 text-center belligerent belligerents-list">
            <h2>{{ 'military_conf.belligerents'|trans({},'presentation') }}</h2>
        </div>
    </div>

    <div class="row">
        {% for b in article.belligerents %}
            <div class="col-md-4">
                <div class="panel panel-default belligerent">
                    <div class="panel-body card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <h5>{{ b.name }}</h5>
                                <ul class="list-un&nbsp;d">
                                    {% for org in b.organizations %}
                                        <li><a class="" href="{{ path('presentation_article', {'worldslug': org.world.slug,'articleslug': org.slug})}}">{{ org.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                <h4>{{ 'military_conf.led_by'|trans({},'presentation') }}</h4>
                                <ul class="list-un&nbsp;d">
                                    {% for org in b.leaders %}
                                        <li><a class="" href="{{ path('presentation_article', {'worldslug': org.world.slug,'articleslug': org.slug})}}">{{ org.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>{{ 'military_conf.strength'|trans({},'presentation') }}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ b.strength|BBcode }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>{{ 'military_conf.casualties'|trans({},'presentation') }}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ b.casualties|BBcode }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>{{ 'military_conf.objectives'|trans({},'presentation') }}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ b.objectives|BBcode }}
                            </div>
                        </div>

                    </div> {# END CARD-BODY #}
                </div> {# END PANEL BELLIGERENT > 2 #}
            </div>. {# end COL-MD-4 #}
        {% endfor %} {# END BELLIGERENTS > 2 LOOP #}
    </div>
{% endif %}