{# revised from Sep 2023 version of item.html.twig #}
<div class="row">
    <div class="col-md-{% if article.displaySidebar == 0  %}12{% else  %}8{% endif %} article-content-left ">

        <div class="user-css-vignette">{{ article.content|BBcode }}</div>

        {% include 'PresentationBundle:Helpers:section.html.twig' with {
            'value': article.mechanics,
            'title':'item.inner.workings',
            'locale': locale
        } only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {
            'value': article.manufacturingProcess,
            'title':'item.manufacturing.process',
            'locale': locale
        } only %}

        {# Edit 29/10/2021 : #2833-adding history section  ~~~ Gorkamworka #}
        {% include 'PresentationBundle:Helpers:section.html.twig' with {
            'value': article.history,
            'title':'item.fields.history.name',
            'locale': locale
        } only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {
            'value': article.significance,
            'title':'item.significance',
            'locale': locale
        } only %}

        {% if article.footnotes %}
            <div class="user-css article-footnotes">{{ article.footnotes|BBcode }}</div>
        {% endif %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {
            'value': article.datasheet,
            'title':'item.rpg.datasheet',
            'locale': locale
        } only %}

    </div>

    {% if  article.displaySidebar == 1  %}

        <div class="col-md-4 article-content-right">

            {% if article.world.globalAnnouncement|length > 0 %}
                <div class="world-global-annnouncement">
                    {{ article.world.globalAnnouncement|BBcode }}
                </div>
            {% endif %}

            {% if article.sidebarcontent|length > 0 %}
                <div class="m-b-20">{{ article.sidebarcontent|BBcode }}</div>
            {% endif %}

            {# BEGIN JEK=SIDEPANEL #}
            <div class="panel panel-default card mb-3 jek-sidepanel">

                {# BEGIN JEK-KEY-FACTS-SIDEPANEL #}
                <div class="panel-body card-body jek-key-facts-sidepanel">
                    {{ article.sidepanelcontenttop|BBcode }}

                    {# BEGIN JEK-KEY-FACTS-CONTENT #}
                    <div class="jek-key-facts-content">
                        <h3 class="jek-key-facts-heading">Key Facts</h3>

                        {# Type #}
                        {% if article.type|length > 0 %}
                            <div class="jek-key-facts-info">
                                <span class="jek-key-facts-label">Type:</span>
                                {{ article.type.name }}
                            </div>
                        {% endif %}

                        {# Base Price #}
                        {% if article.price|length > 0 %}
                            <div class="jek-key-facts-info">
                                <div class="jek-key-facts-label">Base Price</div>
                                {{ article.price }}
                            </div>
                        {% endif %}

                        {# Rarity #}
                        {% if article.rarity|length > 0 %}
                            <div class="jek-key-facts-info">
                                <div class="jek-key-facts-label"> Rarity </div>
                                {{ article.rarity|BBcode }}
                            </div>
                        {% endif %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.itemCreationDate,
                            'title':'item.fields.itemCreationDate.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.itemDestructionDate,
                            'title':'item.fields.itemDestructionDate.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.currentLocation,
                            'title':'Current Location',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.currentHolder,
                            'title':'Current Holder',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.parent,
                            'title':'item.sidebar.subtype.model',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.children,
                            'title': 'item.sidebar.usedby',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.manufacturer,
                            'title':'item.sidebar.manufacturer',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.creator,
                            'title':'item.sidebar.creator',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.technologies,
                            'title': 'item.sidebar.related.technologies',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.ethnicities,
                            'title': 'item.sidebar.related.ethnicities',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.organization,
                            'title':'item.sidebar.owning.organization',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.condition,
                            'title':'item.sidebar.related.condition',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.weight,
                            'title':'item.sidebar.weight',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.dimensions,
                            'title':'item.sidebar.dimensions',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.rawMaterials,
                            'title':'item.sidebar.rawmaterials.components',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.tooling,
                            'title':'item.sidebar.tools',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.myths,
                            'title': 'item.sidebar.related.myths',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.materials,
                            'title':'Related Materials'
                        } only %}

                    </div> {# END JEK-KEY-FACTS-CONTENT #}

                    {{ article.sidepanelcontent|BBcode }}

                </div> {# END JEK-KEY-FACTS-SIDEPANEL #}

            </div> {# END JEK=SIDEPANEL #}

            {{ article.sidebarcontentbottom|BBcode }}

            <div class="world-global-article-additional">
                {{ article.world.globalSidebarFooter|BBcode }}
            </div>

        </div>
    {% endif %}
</div>
