{# revised from Mar 2024 version of location.html.twig #}
<div class="row">

    <div class="col-md-{% if article.displaySidebar == 0  %}12{% else  %}8{% endif %} article-content-left ">

        <div class="user-css-vignette">{{ article.content|BBcode }}</div>

        {% if article.type.name == 'Star System' %}

            {# Astrography #}
            {% if article.geography|length > 0
                or article.ecosystem|length > 0
                or article.ecosystemCycles > 0 %}

                <h2>Astrography</h2>

                {# Astrography Overview #}
                {% if article.geography|length > 0 %}
                    <div>{{ article.geography|BBcode }}</div>
                {% endif %}

                {# Population Centers #}
                {% if article.ecosystem|length > 0 %}
                    <h3>Population Centers</h3>
                    <div>{{ article.ecosystem|BBcode }}</div>
                {% endif %}

                {# Notable Orbitals #}
                {% if article.ecosystemCycles|length > 0 %}
                    <h3>Notable Orbitals</h3>
                    <div>{{ article.ecosystemCycles|BBcode }}</div>
                {% endif %}

                {# Phenomena #}
                {% if article.localizedPhenomena|length > 0 %}
                    <h3>Phenomena</h3>
                    <div>{{ article.localizedPhenomena|BBcode }}</div>
                {% endif %}

            {% endif %}

            {# Governance #}
            {% if article.climate|length > 0 %}
                <h2>Governance</h2>
                <div>{{ article.climate|BBcode }}</div>
            {% endif %}

            {# Commerce #}
            {% if article.florafauna|length > 0
                or article.naturalresources|length > 0
                or article.tourism > 0 %}

                <h2>Commerce</h2>

                {# Commerce Overview #}
                {% if article.florafauna|length > 0 %}
                    <div>{{ article.florafauna|BBcode }}</div>
                {% endif %}

                {# Imports and Exports #}
                {% if article.ecosystem|length > 0 %}
                    <h3>Imports and Exports</h3>
                    <div>{{ article.naturalresources|BBcode }}</div>
                {% endif %}

                {# Notable Characteristics #}
                {% if article.tourism|length > 0 %}
                    <h3>Notable Characteristics</h3>
                    <div>{{ article.tourism|BBcode }}</div>
                {% endif %}

            {% endif %}

            {# History #}
            {% if article.history|length > 0 %}
                <h2>{{ 'location.history'|trans({},'presentation') }}</h2>
                <div>{{ article.history|BBcode }}</div>
            {% endif %}

        {% else %} {# other orbital #}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.geography,
                'title':'location.geography',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.ecosystem,
                'title':'location.ecosystem',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.ecosystemCycles,
                'title':'location.ecosystemCycles',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.localizedPhenomena,
                'title':'location.localizedPhenomena',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.climate,
                'title':'location.climate',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.florafauna,
                'title':'location.florafauna',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.naturalresources,
                'title':'location.natural_resources',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.history,
                'title':'location.history',
                'locale': locale
            } only %}

            {% include 'PresentationBundle:Helpers:section.html.twig' with {
                'value': article.tourism,
                'title':'location.tourism',
                'locale': locale
            } only %}

        {% endif %}

        {% if article.footnotes %}
            <div class="user-css article-footnotes">{{ article.footnotes|BBcode }}</div>
        {% endif %}

    </div>

    {% if article.displaySidebar == 1 %}

        <div class="col-md-4 article-content-right">
            {% if article.world.globalAnnouncement|length > 0 %}
                <div class="world-global-annnouncement">
                    {{ article.world.globalAnnouncement|BBcode }}
                </div>
            {% endif %}

            {% if article.sidebarcontent|length > 0 %}
                <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
            {% endif %}

            {{ render( controller('PresentationBundle:Default:maplist', {'article': article, 'template':'location' }) ) }}

            {# BEGIN JEK=SIDEPANEL #}
            <div class="panel panel-default card mb-3 jek-sidepanel">

                {# BEGIN JEK-KEY-FACTS-SIDEPANEL #}
                <div class="panel-body card-body jek-key-facts-sidepanel">

                    {# BEGIN JEK-KEY-FACTS-CONTENT #}
                    <div class="jek-key-facts-content">
                        <h3 class="jek-key-facts-heading">Key Facts</h3>

                        {# Alternate Names #}
                        {% if article.alternativename|length > 0 %}
                            <div class="jek-key-facts-info">
                                <div class="jek-key-facts-label">Alternate Name(s)</div>
                                <div class="jek-key-facts-indent">{{ article.alternativename }}</div>
                            </div>
                        {% endif %}

                        {# Status #}
                        {% if usermetadata.status|length > 0 %}
                            <div class="jek-key-facts-info">
                                <span class="jek-key-facts-label">Status:</span>
                                {{ usermetadata.status }}
                            </div>
                        {% endif %}

                        {# Type #}
                        {% if article.type|length > 0 or usermetadata.spectralType|length > 0 %}
                            <div class="jek-key-facts-info">
                                <span class="jek-key-facts-label">Type:</span>
                                {% if usermetadata.spectralType|length > 0 %}
                                    {{ usermetadata.spectralType }}
                                {% endif %}
                                {% if article.type|length > 0 %}
                                    {{ article.type.name }}
                                {% endif %}
                            </div>
                        {% endif %}

                        {# Coordinates #}
                        {% if usermetadata.coordinates|length > 0 %}
                            <div class="jek-key-facts-info">
                                <span class="jek-key-facts-label">Coordinates</span>
                                <div class="jek-key-facts-indent">{{ usermetadata.coordinates }}</div>
                            </div>
                        {% endif %}

                        {# Member Of #}
                        {% if usermetadata.memberOf|length > 0 %}
                            <div class="jek-key-facts-label">Member Of</div>
                            <ul class="jek-key-facts-list">
                                {% for item in usermetadata.memberOf%}
                                    {% set memberData = item|split(':') %}
                                    {% if memberData[1]|length > 0 %}
                                        {% set memberBBcode = "@["~memberData[0]~"](organization:"~memberData[1]~")" %}
                                        <li>{{ memberBBcode|BBcode }}</li>
                                    {% else %}
                                        <li>{{ memberData[0] }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {# Location Under #}
                        {% if article.parent|length > 0 %}
                            <div class="jek-key-facts-info">
                                <span class="jek-key-facts-label">Location Under:</span>
                                {% set linkBBcode = "@["~article.parent.title~"]("~article.parent.templateType~":"~article.parent.id~")" %}
                                {{ linkBBcode|BBcode }}
                            </div>
                        {% endif %}

                        {# Owner/Ruler/LeaderType #}
                        {% if article.person |length > 0 %}
                            <div class="jek-key-facts-info">
                                {% if usermetadata.leaderType|length > 0 %}
                                    <span class="jek-key-facts-label">{{ usermetadata.leaderType }}:</span>
                                {% else %}
                                    <span class="jek-key-facts-label">Owner/Ruler:</span>
                                {% endif %}
                                {% set linkBBcode = "@["~article.person.title~"]("~article.person.templateType~":"~article.person.id~")" %}
                                {{ linkBBcode|BBcode }}
                            </div>
                        {% endif %}

                        {# Key Features / Features / Known For #}
                        {% if article.sidepanelcontenttop|length > 0 %}
                            {% set features = article.sidepanelcontenttop|split('\n') %}
                            {% for line in features %}
                                {% set item = line|trim %}
                                {% if item == "[container:key-features]" %}
                                    <div class="jek-key-facts-label">Key Features</div>
                                    <ul class="jek-key-facts-list">
                                {% elseif item == "[container:known-for]" %}
                                    <div class="jek-key-facts-label">Known For</div>
                                    <ul class="jek-key-facts-list">
                                {% elseif item == "[container:features]" %}
                                    <div class="jek-key-facts-label">Features</div>
                                    <ul class="jek-key-facts-list">
                                {% elseif item == "[/container]" %}
                                    </ul>
                                {% else %}
                                    <li>{{ item|BBcode }}</li>
                                {% endif %}
                           {% endfor %}
                        {% endif %}

                        {# Included Locations #}
                        {% if article.children|length > 0 %}
                            <div class="jek-key-facts-label">Included Locations</div>
                            <ul class="jek-key-facts-list">
                                {% for child in article.children %}
                                    {% set linkBBcode = "@["~child.title~"]("~child.templateType~":"~child.id~")" %}
                                    <li>{{ linkBBcode|BBcode }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {# Warp Paths #}
                        {% if usermetadata.warpPaths|length > 0 %}
                            <div class="jek-key-facts-label">Warp Paths</div>
                            <ul class="jek-key-facts-list">
                                {% for wp in usermetadata.warpPaths %}
                                    {% set wpData = wp|split(':') %}
                                    <li>
                                    {% if wpData[2]|length > 0 %}
                                        {% set starSysBBcode = "@["~wpData[0]~"](location:"~wpData[2]~")" %}
                                        {{ starSysBBcode|BBcode }}:
                                    {% else %}
                                        {{ wpData[0] }}:
                                    {% endif %}
                                    {{ wpData[1] }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
{# TOHERE #}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.vehiclesPresent,
                            'title':'vehicle.location.reflexive.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.includedOrganizations,
                            'title': 'location.included_organizations',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.additionalRulers,
                            'title':'location.additionalRulers.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.rank,
                            'title':'location.rank',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {
                            'value': article.organization,
                            'title':'location.owning_organization',
                            'article': article,'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.ethnicities,
                            'title':'ethnicity.locations.reflexive.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.contenders,
                            'title':'Contested By'
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.people,
                            'title': 'location.characters_in_location',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.rituals,
                            'title': 'ritual.related_location.reflexive.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.importantTraditions,
                            'title': 'ritual.important_locations.reflexive.name',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.reportprimarylocations,
                            'title': 'location.related_reports_primary',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.reportsecondarylocations,
                            'title': 'location.related_reports_secondary',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.species,
                            'title': 'location.species',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.myths,
                            'title': 'location.related_myths',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.plots,
                            'title': 'article.related_plots',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.professions,
                            'title':'Related Professions'
                        } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {
                            'list': article.materials,
                            'title':'Related Materials'
                        } only %}

                    </div> {# END JEK-KEY-FACTS-CONTENT #}

                    {{ article.sidepanelcontent|BBcode }}

                </div> {# END JEK-KEY-FACTS-SIDEPANEL #}

            </div> {# END JEK=SIDEPANEL #}

            {{ article.sidebarcontentbottom|BBcode }}

            <div class="world-global-article-additional">
                {{ article.world.globalSidebarFooter|BBcode }}
            </div>

        </div>
    {% endif %}
</div>
