<div class="row">
    <div class="col-md-{% if  article.displaySidebar == 0  %}12{% else  %}8{% endif %} article-content-left ">
        <div class="user-css-vignette">{{ article.content|BBcode }}</div>
        <div class="">
            {% if article.manifestation|length > 0 %}
                <h2>{{ 'law.manifestation'|trans({},'presentation') }}</h2>
                <p>{{ article.manifestation|BBcode  }}</p>
            {% endif %}
            {% if article.localization|length > 0 %}
                <h2>{{ 'law.localization'|trans({},'presentation') }}</h2>
                <p>{{ article.localization|BBcode  }}</p>
            {% endif %}
            {% if article.footnotes %}<div class="user-css article-footnotes">{{ article.footnotes|BBcode }}</div>{% endif %}
        </div>
    </div>
    {% if article.displaySidebar == 1   %}
        <div class="col-md-4 article-content-right">
            {% if  article.world.globalAnnouncement|length > 0 %}
                <div class="world-global-annnouncement">
                    {{ article.world.globalAnnouncement|BBcode }}
                </div>
            {% endif %}
            {% if article.sidebarcontent|length > 0 %}
                <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
            {% endif %}
            {% if article.sidepanelcontent|length > 0 or  article.sidepanelcontenttop|length > 0 or article.lawtype|length > 0  %}
                <div class="panel panel-default card mb-3">
                    <div class="panel-body card-body">
                        {{ article.sidepanelcontenttop|BBcode }}
                        <div>
                            {% if article.lawtype|length > 0 %}
                                <dt>{{ 'law.type'|trans({},'presentation') }}</dt>
                                <dd>{{ article.lawtype }}</dd>
                            {% endif %}
                        </div>
                        {{ article.sidepanelcontent|BBcode }}
                    </div>
                </div>
            {% endif %}
            {{ article.sidebarcontentbottom|BBcode }}
            <div class="world-global-article-additional">
                {{ article.world.globalSidebarFooter|BBcode }}
            </div>
        </div>
    {% endif %}
</div>
