<div class="row">
    <div class="col-md-{% if article.displaySidebar == 0  %}12{% else  %}8{% endif %} article-content-left ">
        <div class="user-css-vignette">{{ article.content|BBcode }}</div>

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.transmissionvectors, 'title':'condition.transmission','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.causes, 'title':'condition.causes','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.symptoms, 'title':'condition.symptoms','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.treatment, 'title':'condition.treatment','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.prognosis, 'title':'condition.prognosis','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.sequela, 'title':'condition.sequela','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.affectedgroups, 'title':'condition.affectedgroups','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.hosts, 'title':'condition.hosts','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.prevention, 'title':'condition.prevention','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.epidimiology, 'title':'condition.epidimiology','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {'value': article.history, 'title':'history','locale': locale} only %}

        {% include 'PresentationBundle:Helpers:section.html.twig' with {
            'value': article.reception,
            'title':'condition.reception',
            'locale': locale
        } only %}
        {% if article.footnotes %}<div class="user-css article-footnotes">{{ article.footnotes|BBcode }}</div>{% endif %}
    </div>
    <div class="col-md-4  article-content-right">
        {% if article.world.globalAnnouncement|length > 0 %}
            <div class="world-global-annnouncement">
                {{ article.world.globalAnnouncement|BBcode }}
            </div>
        {% endif %}
        {% if article.sidebarcontent|length > 0 %}
            <div class="m-b-20">{{ article.sidebarcontent|BBcode  }}</div>
        {% endif %}
        {% if article.sidepanelcontent|length > 0  or article.sidepanelcontenttop|length > 0 or article.type|length > 0 or article.origin|length > 0 or  article.cycle|length > 0  or article.rarity|length > 0 or article.species|length > 0  or article.parent|length > 0 %}

            <div class="panel panel-default card mb-3">
                <div class="panel-body card-body">

                    {{ article.sidepanelcontenttop|BBcode }}
                    <div>
                        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.type, 'title':'type','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:relation.html.twig' with {'value': article.parent, 'title':'Parent','article': article,'locale': locale } only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.children, 'title': 'Children','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {
                            'value': article.origin,
                            'title':'condition.origin',
                            'locale': locale
                        } only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.cycle, 'title':'condition.cycle','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:value.html.twig' with {'value': article.rarity, 'title':'condition.rarity','locale': locale} only %}

                        {% include 'PresentationBundle:Helpers:relationlist.html.twig' with {'list': article.species, 'title': 'condition.species','locale': locale} only %}
                    </div>
                    {{ article.sidepanelcontent|BBcode }}
                </div>
            </div>
        {% endif %}
        {{ article.sidebarcontentbottom|BBcode }}
        <div class="world-global-article-additional">
            {{ article.world.globalSidebarFooter|BBcode }}
        </div>
    </div>
</div>
